{% extends 'base.html.twig' %}

{% block principal %}
<a class="btn btn-success center-block" href="../Controller/nuevoArticulo.php" role="button">
          <span class="glyphicon glyphicon-ok"></span>Nueva Entrada
        </a>
  <hr>
{% for articulo in articulos %}
  
      <div class="panel panel-primary">
          <div class="panel-heading text-center">
                <h3>{{articulo.titulo}}</h3>
            </div>
            <div class="panel-body text-center">
                <p>Articulo publicado en: {{articulo.fecha}}</p><br>
                <p>{{articulo.contenido}}</p><br>
                <form class="inline" action="../Controller/borraArticulo.php" method="post">
                    <input class="btn btn-danger" type="submit" name="borrarArticulo" value="Borrar">
                    <input type="hidden" name="deleteId" value="{{ articulo.id }}">
                </form>
                <form class="inline" action="../Controller/modificaArticulo.php" method="post">
                    <input class="btn btn-primary" type="submit" value="Modificar">
                    <input type="hidden" name="updateId" value="{{ articulo.id }}">
                    <input type="hidden" name="updateTitulo" value="{{ articulo.titulo }}">
                    <input type="hidden" name="updateContenido" value="{{ articulo.contenido }}">
                    
                </form>
            </div>
      </div>  
{% endfor %}  
{% endblock %}
